[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "==4.0.2"
pytest = "==6.0.1"
pytest-mock = "==3.3.1"
pytest-cov = "==2.10.1"
pytest-datafiles = "==2.0"
pytest-html = "==2.1.1"
ansi2html = "==1.5.2"
pycodestyle = "==2.6.0"
pylint = "==2.6.0"
pylintfileheader = "==0.1.0"

[requires]
python_version = "3.7"

[packages]
pyspark = "==2.4.5"
